boto3==1.12.39
botocore==1.15.39
click==7.1.1
docutils==0.15.2
Flask==1.1.2
flask-s3up==0.0.13
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.5
MarkupSafe==1.1.1
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.14.0
urllib3==1.25.8
Werkzeug==1.0.1
