alabaster==0.7.12
Babel==2.8.0
bleach==3.1.4
boto3==1.12.39
botocore==1.15.39
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
commonmark==0.9.1
docutils==0.16
Flask==1.1.2
idna==2.9
imagesize==1.2.0
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.5
keyring==21.2.0
MarkupSafe==1.1.1
packaging==20.3
pkginfo==1.5.0.1
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
readme-renderer==25.0
recommonmark==0.6.0
requests==2.23.0
requests-toolbelt==0.9.1
s3transfer==0.3.3
six==1.14.0
snowballstemmer==2.0.0
Sphinx==1.8.5
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.1
tqdm==4.45.0
twine==3.1.1
urllib3==1.25.8
webencodings==0.5.1
Werkzeug==1.0.1
zipp==3.1.0
