{% if FS3V_CONTENTS %}
  {% for c in FS3V_CONTENTS if c.Key %}
    <tr>
      <td>{{ checkbox(id=loop.index, type="cnt",  val=c.Key) }}</td>
      <td>
        {{ c.Key | replace(unquote_plus(PREFIX_WITH_EMPTY), '', 1)}}
      </td>
      <td>
        {{ c.LastModified }}
      </td>
      <td>
        {{ c.Size | filesizeformat }}
      </td>
      <td>
        <button onclick="FLASK_S3_VIEWER_CORE.copyToClipboard('{{ FS3V_OBJECT_HOSTNAME }}/{{ c.Key|urlencode }}');">
          copyToClipboard
        </button>
        <button onclick="location.href='{{ url_for('flask_s3_viewer.files_download', key=c.Key|urlencode) }}';">
          download
        </button>
        <button onclick="if (confirm('Are you sure you want to delete?')) FLASK_S3_VIEWER_CORE.deleteFile(event, '{{ c.Key }}', callbackDelFile);">
          delete
        </button>
      </td>
    </tr>
  {% else %}
    {{ tr(id="nothing", text="There are no files under this path.") }}
  {% endfor %}
{% else %}
  {{ tr(id="nothing", text="There are no files under this path.") }}
{% endif %}
