<html>
  <head>

    <!-- ====== BLOCK HEAD ====== -->
    {% block head %}
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <!-- ====== BLOCK TITLE ====== -->
      <title>{% block title %}{% endblock %} | Flask_s3viewer</title>
      <!--// ====== BLOCK TITLE ====== -->

      <!-- Dependecies -->
      <!--// Dependecies -->

    {% endblock %}
    <!-- ====== BLOCK HEAD ====== -->

  </head>
  <body>

    <!-- ====== DEFINE FLASK_S3_VIEWER REQUIRED ====== -->
    <script charset="utf-8">
      var FLASK_S3_VIEWER_FILES_ENDPOINT = "{{ url_for('flask_s3_viewer.files') }}";
      var FLASK_S3_VIEWER_UPLOAD_TYPE = "{{ FS3V_UPLOAD_TYPE }}";
    </script>
    {% set SEARCH = request.args.get('search') %}
    {% set PAGE = request.args.get('page', 1) | int %}
    {% set PAGE_INDICATOR = request.args.get('page_indicator', 0) | int %}
    {% set PREV_PAGE = request.args.get('prev_page') %}
    {% set PREFIX = request.args.get('prefix') %}
    {% set PREFIX_WITH_EMPTY = request.args.get('prefix', '') %}
    {% set BEFORE_PREFIX = request.args.get('before_prefix') %}
    {% set STARTING_TOKEN = request.args.get('starting_token') %}
    {% set STARTING_TOKEN_WITH_EMPTY = request.args.get('starting_token', '') %}
    {% set STARTING_TOKEN_WITH_NONE = request.args.get('starting_token', 'None') %}
    {% set PREV_TOKENS = request.args.get('prev_tokens') %}
    <input type="hidden" name="prefix" value="{{ PREFIX_WITH_EMPTY }}" id="fs3viewer_prefix">
    <!--// ====== DEFINE FLASK_S3_VIEWER REQUIRED ====== -->

    <div>
      <div id="header">

        <!-- ====== BLOCK HEADER ====== -->
        {% block header %}
          <div>

            <!-- ====== BLOCK CONTROLLER ====== -->
            {% block controller %}

            {% endblock %}
            <!--// ====== BLOCK CONTROLLER ====== -->

          </div>
        {% endblock %}
        <!--// ====== BLOCK HEADER ====== -->

      </div>
      <div id="content" >
        <div>

          <!-- ====== BLOCK CONTENT ====== -->
          {% block content %}

          {% endblock %}
          <!--// ====== BLOCK CONTENT ====== -->

        </div>
      </div>
      <div id="footer">

        <!-- ====== BLOCK FOOTER ====== -->
        {% block footer %}
          <div>
            <div>Flask S3 Viewer</div>
            <ul>
              <li><a href="https://github.com/hidekuma/flask-s3-viewer/blob/master/README.md" target="_blank">Help</a></li>
              <li><a href="https://github.com/hidekuma/flask-s3-viewer" target="_blank">Github</a></li>
            </ul>
          </div>
        {% endblock %}
        <!--// ====== BLOCK FOOTER ====== -->

      </div>
    </div>

    <!-- ====== BLOCK TAIL ====== -->
    {% block tail %}
    {% endblock %}
    <!--// ====== BLOCK TAIL ====== -->

  </body>
</html>
