<form id="upload_form" action="{{ url_for('flask_s3up.files') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
  <div class="mdl-textfield mdl-js-textfield">
    <label class="mdl-textfield__label" for="files"></label><input class="mdl-textfield__input" multiple="multiple" type="file" name="files[]" id="files" required>
  </div>
  <button id="submit" class="mdl-button mdl-js-button mdl-button--primary">
    Upload
  </button>
  <button id="reset_form" class="mdl-button mdl-js-button mdl-button--accent">
    Reset
  </button>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" name="prefix" value="{{ request.args.get('prefix', '') }}" id="prefix">
    <label class="mdl-textfield__label" for="prefix">Directory Name</label>
  </div>
  <button id="make_dir" class="mdl-button mdl-js-button mdl-button--primary">
    Make
  </button>
</form>

<div id="drop_area" onclick="document.getElementById('files').click();" style="width: 100%;height: 100%; border:1px solid lightgray;">
  <div id="gallery"></div>
</div>

<progress id="progress_bar" style="width: 100%;" max=100 value=0></progress>
