{% if contents %}
  {% for c in contents if c.Key %}
    <tr>
      <td>{{ mdl_selectbox() }}</td>
      <td class="mdl-data-table__cell--non-numeric">
        {{ c.Key | replace(unquote_plus(PREFIX_WITH_EMPTY), '', 1)}}
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        {{ c.LastModified }}
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        {{ c.Size | filesizeformat }}
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        <button id="tcopy{{ loop.index }}" onclick="copyToClipboard('flask_s3up_addr_copy_{{ loop.index }}');" class="mdl-button mdl-button--icon mdl-button--primary">
          <i class="material-icons">link</i>
        </button>
        <div class="mdl-tooltip" data-mdl-for="tcopy{{ loop.index }}">
          Copy to clipboard
        </div>
        <input style="opacity: 0; width: 1px; height: 0px; position: absolute; top: -9999px; height: -9999px;" type="text" value="{{ object_hostname }}/{{ c.Key|urlencode }}" id="flask_s3up_addr_copy_{{ loop.index }}">
        <button id="tdown{{ loop.index }}" onclick="location.href='{{ url_for('flask_s3up.files_download', key=c.Key|urlencode) }}';" class="mdl-button mdl-button--icon mdl-button--primary">
          <i class="material-icons">save_alt</i>
        </button>
        <div class="mdl-tooltip" data-mdl-for="tdown{{ loop.index }}">
          Download file
        </div>
        <button id="tdelf{{ loop.index }}" onclick="deleteFile(event, '{{ c.Key }}', callbackDelFile);" class="mdl-button mdl-button--icon mdl-button--primary">
          <i class="material-icons">clear</i>
        </button>
        <div class="mdl-tooltip" data-mdl-for="tdelf{{ loop.index }}">
          Delete file
        </div>
      </td>
    </tr>
  {% else %}
  {% endfor %}
{% else %}
{% endif %}
