<ul>
  {% if contents %}
    {% for c in contents if c.Key %}
      <li id="key_{{ loop.index }}">
        <!--<input type="checkbox" name="checked_key_{{ loop.index }}" value="{{ c.Key }}" id="checked_key_{{ loop.index }}" class="checked-keys">-->
        {{ loop.index }}
        {{ c.LastModified }}
        {{ c.Size | filesizeformat }}
        {{ unquote_plus(c.Key | replace(request.args.get('prefix'), ''))}}
        <button onclick="copyToClipboard('addr_copy_{{ loop.index }}');">clipboard</button>
        <input style="opacity: 0; width: 1px; height: 0px; position: absolute; top: -9999px; height: -9999px;" type="text" value="{{ object_hostname }}/{{ c.Key }}" id="addr_copy_{{ loop.index }}">
        <button onclick="location.href='{{ url_for('flask_s3up.files_download', key=unquote_plus(c.Key)) }}';">download</button>
        <button onclick="deleteFile('{{ unquote_plus(c.Key) }}', 'key_{{ loop.index }}')">delete</button>
      </li>
    {% else %}
      <li><em>doesn't exist contents</em></li>
    {% endfor %}
  {% else %}
    <li><em>doesn't exist contents</em></li>
  {% endif %}
</ul>
