{% extends "flask_s3up/base.html" %}
{% block title %}Files{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% include 'flask_s3up/form.html' with context %}
    <p>
        <label for="search">Search</label><input type="text" name="search" value="" id="search">
        <label for="page_size">Page size:</label>
        <select name="page_size" id="page_size">
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
    </p>
    {% include 'flask_s3up/prefixes.html' with context %}
    <hr>
    {% include 'flask_s3up/contents.html' with context %}
    <hr>
    <ul>
        {% if request.args.get('starting_token') %}
            <li>
                <a href="{{ url_for('flask_s3up.files', prefix=request.args.get('prefix'), starting_token=request.args.get('prev_token')) }}" target="_self">prev</a>
            </li>
        {% endif %}
        {% if next_token %}
            <li>
                <a href="{{ url_for('flask_s3up.files', prefix=request.args.get('prefix'), prev_token=request.args.get('starting_token'), starting_token=next_token) }}" target="_self">next</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block tail %}
   <script src="{{ url_for('flask_s3up.static', filename="/js/form.js") }}" charset="utf-8"></script>
{% endblock %}
