<form id="upload_form" action="{{ url_for('flask_s3up.files') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
  <p>
    <label for="files">Add files: </label><input multiple="multiple" type="file" name="files[]" id="files" required>
    <label for="submit">Submit: </label><input type="submit" name="submit" value="submit" id="submit">
    <button id="reset_form">reset</button>
  </p>
  <p>
    Prefix: <input type="text" name="prefix" value="{{ request.args.get('prefix', '') }}" id="prefix">
    <button id="make_dir">makedir</button>
  </p>
</form>

<div id="drop_area" onclick="document.getElementById('files').click();" style="width: 100%;heigth: auto;border: 1px solid gray;"></div>
<div id="gallery"></div>

<progress id="progress_bar" max=100 value=0></progress>
